<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Information</title>
</head>
<body>
    
    <img src="<%= data.img %>">
    <p>Name: <%= data.name %></p>
    <p>Activity: <%= data.activity %></p>
    <p>Calvin and Hobbes Quotes:</p>
    <ul>
    <% for (var x in data.quotes) { %>
    <li><%= data.quotes[x] %></li>
    <% } %>
    </ul>
</body>
</html>